.user-dash-header{
  margin-top:2em;
  color:#E67A59;
  font-size:3em;
}

.subscribed-projects h3 {
  color:white;
  margin-top:2em;
}

.white-text {
  color:white;
}


.projects-link {
  color:white;  
}