.homepage-container {
  color:white;
  font-size:3em;
}

.homepage-container h1{
  color:#E67A59;
}


.homepage-image {
  margin-top:1.8em;
  width:10em;
}




@media only screen and (max-width: 600px) {
 .homepage-image {
   width:6em;
 }

 .homepage-container h1 {
   font-size:1.1em;
 }
}