.homepage-container {
  color:white;
  font-size:3em;
}

.homepage-container h1{
  color:#E67A59;
}


.homepage-image {
  margin-top:1.8em;
  width:10em;
}


.about-section-homepage {
  background-color:#2EA48C;
  margin-top:4em;
  width:100%;
  padding-top:2em;
  height:17em;
}

.about-section-split {
  display:flex;
  justify-content:center;
}

.about-section-homepage h2 {
  font-size:1.1em;
  margin-bottom:1em;
}

.about-section-homepage p {
  font-size:.7em;
  width:40%;
  margin:2em;
}

.about-section-homepage img {
  width:8em;
  height:5em;
  margin:2em;
}


.about-section-homepage a {
  color:white;
}

@media only screen and (max-width: 1000px) {
  .homepage-image {
    width:6em;
  }

  .homepage-container h1 {
    font-size:1.1em;
  }



  .about-section-homepage {
    background-color:#2EA48C;
    margin-top:4em;
    width:100%;
    padding-top:2em;
    height:15em;
  }

  .about-section-split {
    display:flex;
    justify-content:center;
    flex-direction:column-reverse;
    margin:0 auto;

  }

  .about-section-homepage h2 {
    font-size:.7em;
    margin-bottom:0;
  }

  .about-section-homepage p {
    font-size:.4em;
    width:80%;
    margin:.5em auto;

  }

  .about-section-homepage img {
    width:3em;
    height:2em;
    margin:1em auto;
  }



}