.dialogue-container {
 width:50%;
 height:12em;
 background-color:white;
 border-radius:10px; 
 padding:2em;
 font-size:1.1em;
 margin:0 auto;
 border:1px solid gray;
 box-shadow: 3px 3px 1px 1px black;
 position: fixed;
 top: 50%;
 left: 50%;
transform: translate(-50%, -90%);
}


.dialogue-container button{
  width:7em;
  padding:5px;
  border:none;
  border-radius:4px;
  font-size:1.1em;
  margin-top:1em;
  margin-left:1em;
  margin-right:1em;
}


.page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}