.dialogue-container {
 width:50%;
 height:12em;
 background-color:white;
 border-radius:10px; 
 padding:2em;
 font-size:1.1em;
 margin:0 auto;
 border:1px solid gray;
 box-shadow: 3px 3px 1px 1px black;
 position: fixed;
 top: 50%;
 left: 50%;
transform: translate(-50%, -90%);
}


.button-container {
  display:flex;
  justify-content:center;
}


.dialogue-container button{
  width:7em;
  padding:8px;
  border:none;
  font-size:1.1em;
  margin-top:1em;
  margin-left:.5em;
  margin-right:.5em;
}

.log-out-confirm-button:hover {
  background-color:gray;
  color:white;
}

.confirm-button:hover {
  background-color:gray;
  color:white;
}

.page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}


@media only screen and (max-width:600px) {
  .dialogue-container {
    font-size:1em;
    width: calc(90%);
  }

  .button-container {
    display:flex;
    justify-content:center;
  }
}