.members-list-container {
  background-color:#7DE0CC;
  width:18em;
  min-height:4.3em;
  max-height:40em;
  border-radius:5px;
  position:fixed;
  right:0;
  top:35vh;
  overflow-y: auto;
}

.members-list-member {
  height:4.2em;
  display:flex;
  flex-direction:row;
  padding:10px;
  padding-top:15px;
  background-color:white;
  border-radius:5px;
  margin:1.5px;
  
}


.members-list-member h3 {
  margin:0 auto;
  line-height:2em;
  padding-right:4px;
  color:#043049;
}

.name-circle {
  background-color:rgb(179, 84, 55);
  border-radius:2em;
  margin-right:2em;
  height:2.5em;
  padding:10px;
  width:2.5em;
  color:white;
}

.full-name {
  line-height:2.3em;
  color:#043049;
}

.members-list-container a {
  color:black;
}


@media only screen and (max-width:1400px) {

  .members-list-container {
    margin:0 auto;
    margin-top:1em;
    margin-bottom:1em;
    width:90%;
    min-height:4.3em;
    max-height:40em;
    border-radius:5px;
    overflow-y: auto;
    position:static;
  }
}