* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}


.active-link {
  font-weight:bold;
}

.navbar {
  height:4em;
  background-color:#9be2df;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
  border-bottom:10px solid #2EA48C;
}

.nav-ul {
  display:flex;
  list-style:none;
  margin-left:10px;
}

.nav-li a{
  text-decoration:none;
  color:#043049;
}

.nav-li {
  padding: 7px;
  line-height:2em;
  font-size:1.5em;
  font-family: 'Roboto', sans-serif;
}

.logout-button {
  cursor:pointer;
}


  .app-logo {
    color:rgb(201, 78, 59) !important;
    font-weight:.999;
  }


  .spacer {
    margin-bottom:7em;
  }

@media only screen and (max-width: 600px) {
  .nav-li {
    font-size:1em;
  }

  .navbar {
    border-bottom:5px solid #2EA48C;
    height:3em;
  }

}

