.project-dash-header {
  color:rgb(250, 110, 89);
  margin-top:2em;
  font-size:3em;
  
}

.divider {
  background-color: rgb(250, 110, 89);
  height:.15em;
  width:25em;
  margin:0 auto;
  margin-top:15px;
}

.white-text {
  font-size:1.2em;
  color:white;
}


.delete-project-button {
  color:#9BE2DF;
  border:1px solid #9BE2DF;
  background-color:#043049 !important;
  width:8em;
  height:2.5em;
  line-height:1.5em;
  padding:8px;
  padding-left:14px;
  font-size:1em;
  margin-top:10em;
  text-decoration:none;
  display:block;
  margin:0 auto;
  margin-top:2em;
  font-weight:bold;
  border-radius:4px;
}


.project-description {
  line-height:1.45em;
}

.project-description-text {
  width:40em;
}

.join-project-button {
  text-align:center;
  color:#9BE2DF;
  border:1px solid #9BE2DF;
  background-color:#043049 !important;
  width:8em;
  height:2.5em;
  line-height:1.6em;
  padding:8px;
  font-size:1em;
  margin-top:10em;
  text-decoration:none;
  display:block;
  margin:0 auto;
  margin-top:2em;
  font-weight:bold;
  border-radius:4px;
  cursor:pointer;
}


.user-error-dialogue {
  background-color:#EEEEEE;
  width:20em;
  color:black;
  height:4em;
  text-align:center;
  line-height:4em;
  border-radius:4px;
  margin:0 auto;
  margin-top:2em;
}

.leave-project-button {
  color:#9BE2DF;
  border:1px solid #9BE2DF;
  background-color:#043049 !important;
    width:8em;
    height:2.5em;
    line-height:1.6em;
    padding:8px;
    font-size:1em;
    margin-top:10em;
    text-decoration:none;
    display:block;
    margin:0 auto;
    margin-top:2em;
    font-weight:bold;
    border-radius:4px;
    cursor:pointer;
  
}

.leave-project-button:hover {
  background-color: #255774 !important;
}

.join-project-button:hover {
  background-color: #255774 !important;
}

.delete-project-button:hover {
  background-color: #255774 !important;
}

.project-dash-button-container {
  display:flex;
  width:35em;
  justify-content: left;

}



.project-description-label {
  margin-bottom: -.5em;
  font-size:1.6em;
  font-weight:lighter;
  
}

.project-dash-info-container {
  width:65%;
  margin:0 auto;
  text-align:left;
  color:#9BE2DF !important;
}

.technology-list-container {
  display:flex;

}

.tech-name {
  margin-right:.4em;
  padding:4px;
  padding-left:7px;
  padding-right:7px;
  background-color: rgb(221, 107, 90);
  border-radius:5px;
  color:white;
}


@media only screen and (max-width:600px) {
  .project-dash-button-container {
    flex-direction:column;
    margin:0 auto;
    margin-top:1em;
    width:80%;
  }

  .project-dash-button{
    margin:3px auto;
  }

  .members-list-container {
    display:none;
  }

  .project-description-text {
    max-width:95%;
  }

  .divider {
    width:80%;
  }
}