.projects-container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin-top:2em;
  justify-content:center;
}

.project-card {
  background-color:white;
  height:18em;
  margin:10px;
  width:25em;
  display:block;
  box-sizing:border-box;
  padding:10px;
  border-radius:4px;
  border:1px solid gray;
  box-shadow: 8px 8px 2px 1px gray;
}

.projects-title {
  color:white;
  margin-top:2em;
}


.project-card-title {
  font-size:1.2em;
  margin-top:1em;
}

.project-card-description {
  margin-top:2em;
}

.project-card-organization {
  margin-top:2em;
}


a.project-card-button {
  margin-top:2em;
}


.project-card-button {
  margin-top:3em; 
  width:50%;
  margin:0 auto;
  display:block;
  border:none;
  background-color:#167CC7;
  padding:10px;
  font-size:1.1em;
  color:white;
  text-decoration:none;
}

.app-error-message {
  color:white;
  font-size:1.5em;
  margin-top:10%;
  font-family:'Courier New', Courier, monospace;
  text-align:center;
}

.submit-project-button {
  width:9em;
  height:2em;
  border:none;
  border-radius:3px;
  font-size:1.1em;
  margin:0 auto;
  margin-top:1em;
}


.create-new-project-button {
  background-color:#EEEEEE;
  display:block;
  width:10em;
  line-height:1.5em;
  height:2.3em;
  border:none;
  border-radius:3px;
  font-size:1.1em;
  margin:0 auto;
  text-decoration:none;
  margin-top:1em;
  padding:7px;
  font-weight:bold;
  color:black;
}


